.background {
    font-size: 12px;
    color: white;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.background::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../assets/homepage/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

.container {
    width: 1100px;
    height: 550px;
    display: flex;
    justify-content: space-between;
}

.header {
    font-family: "Open Sans", "Noto Sans TC";
    max-width: 275px;
    display: inline-flex;
    flex-direction: column;
}

.logo {
    display: block;
    margin-bottom: auto;
    pointer-events: none;
    user-select: none;
}

.hotelName {
    font-family: "Open Sans", "Noto Sans TC";
    line-height: 18px;
    margin-bottom: 16px;
    max-width: 275px;
    display: inline-flex;
    flex-direction: column;
}

.address {
    display: block;
    font-family: "Noto Sans TC";
    font-weight: 100;
    line-height: 17px;
    margin-bottom: 6px;
}

.phone {
    margin-bottom: 6px;
}

.phone, .email {
    display: block;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 17px;
}

.gallery {
    width: 825px;
    display: inline-flex;
    flex-wrap: wrap;
    box-shadow: 20px 20px 80px 5px rgba(0, 0, 0, 0.75);
    transform: translateX(20px);
}

.room {
    width: 275px;
    height: 275px;
    text-align: center;
    line-height: 275px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    position: relative;
}

.roomName {
    color: transparent;
    font-family: "Open Sans";
    font-size: 19px;
    user-select: none;
}

.room:hover .roomName {
    display: block;
    color: inherit;
    background-color: rgba(56, 71, 11, 0.6);
    transition: background-color 150ms ease-in;
}

.singleRoom { background-image: url("../assets/single-room/thumbnail.jpg"); }
.doubleRoom { background-image: url("../assets/double-room/thumbnail.jpg"); }
.twinRoom { background-image: url("../assets/twin-room/thumbnail.jpg"); }
.deluxeSingleRoom { background-image: url("../assets/deluxe-single-room/thumbnail.jpg"); }
.deluxeDoubleRoom { background-image: url("../assets/deluxe-double-room/thumbnail.jpg"); }
.deluxeTwinRoom { background-image: url("../assets/deluxe-twin-room/thumbnail.jpg"); }
