.header {
    flex-shrink: 0;
    width: 573px;
    outline: none;
    position: fixed;
    top: 0;
    bottom: 0;
}

.header:hover {
    cursor: pointer;
}

.nav {
    display: inline-block;
    margin-top: 75px;
    margin-left: 114px;
}

.navLink {
    display: flex;
    align-items: center;
    padding: 12px;
}

.navLinkText {
    flex-shrink: 0;
    font-family: "Noto Sans TC";
    font-size: 14px;
    font-weight: 100;
    line-height: 24px;
    margin-left: 9.68px;
    transform: translateY(-1.5px);
}

.price {
    font-family: "Open Sans", "Noto Sans TC";
    text-align: center;
    margin-top: 449px;
}

.priceAmount {
    font-size: 36px;
    line-height: 49px;
}

.pricePerNight {
    font-size: 20px;
    font-weight: 400;
}

.pricePerNight::before {
    content: "/";
    font-family: "Noto Sans TC";
    font-weight: 500;
    padding-right: 18px;
    padding-left: 19px;
}

.bookRoom {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: rgb(56, 71, 11);
    display: block;
    margin: 10px auto 0 auto;
    padding: 8.5px 63.5px;
    line-height: 27px;
    outline: none;
}

.bookRoom:hover {
    background-color: rgb(148, 156, 124);
}

.bookRoom:active {
    transform: translateY(3px);
}
