html {
    font-size: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(20px);
    background-color: rgba(218, 218, 218, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.container {
    width: 1110px;
    height: 602px;
    background-color: white;
    border: 1px solid rgb(56, 71, 11);
    display: flex;
}
