.readme {
    flex-grow: 1;
    padding: 51px 30px 26px 30px;
    position: relative;
}

.closeButton {
    outline: none;
    position: absolute;
    right: 22.6px;
    top: 22.6px;
}

.closeButton:active {
    transform: translateY(2px);
}

.closeIcon {
    padding: 16px;
}

.roomTypeHeading {
    display: flex;
    align-items: center;
    max-width: 530px;
    margin-bottom: 8px;
}

.roomRulesHeading {
    display: flex;
    align-items: center;
    max-width: 530px;
    margin-bottom: 8px;
}

.roomType {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: inline-block;
}

.hairline {
    margin-left: 6.5px;
    flex-grow: 1;
    height: 1px;
    background-color: rgba(148, 156, 124, 0.2);
    transform: translateY(2px);
}

.description {
    font-family: "Noto Sans TC";
    font-size: 14px;
    line-height: 24px;
    color: rgb(56, 71, 11);
}

.features {
    display: flex;
    max-width: 530px;
    margin-bottom: 26px;
}

.feature {
    flex-basis: 9%;
    pointer-events: none;
    user-select: none;
    margin-top: 27px;
    text-align: center;
}

.featureIcon {
    height: 48px;
}

.headingTitle {
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.roomRules {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 19px;
}

.roomRule {
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
}

.stepsHeading {
    display: flex;
    align-items: center;
    max-width: 530px;
    margin-bottom: 19px;
}

.steps {
    display: flex;
}

.step {
    width: 160px;
    height: 136px;
}

.stepIconWrapper {
    background-color: rgb(148, 156, 124);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepIcon {
    display: block;
    width: 30px;
    height: 30px;
}

.stepTextContainer {
    height: 86px;
    border: 1px solid rgb(148, 156, 124);
    border-radius: 0px 0px 10px 10px;
    padding: 12px 0 18px 0;
}

.stepText {
    color: rgb(56, 71, 11);
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.arrowWrapper {
    width: 31px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
